*.pyc
*.so
__pycache__/*
build/*
.cache/*
.ipynb_checkpoints/*
config.log
c4che
*.o
*.d
*.dylib
bricolage/*.cpp
cruft-*
experiments/.ipynb_checkpoints
.idea
notebooks/.ipynb_checkpoints
bricolage.egg-info
*.log
*.def
.pytest
